.playList {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.playListSongs {
  width: 100%;
  background-color: var(--foreground-color);
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  padding: 8px 9px;
  justify-content: start;
  list-style: none;
}

.playListSong {
  border-bottom: 1px solid var(--background-color);
  height: 60px;
  display: grid;
  grid-template-columns: 10fr 10fr 1fr;
  width: 100%;
  align-items: center;
  padding: 6px 0 6px 6px;
  cursor: pointer;
}

.songSelected {
  background: var(--selected);
  color: var(--color-primary);
}

.spinner {
  color: var(--color-primary);
  margin-left: 10px;
}

.iconList {
  color: var(--text-primary);
  width: fit-content;
  cursor: pointer;
}

.iconList:hover {
  color: var(--color-primary-dark);
}

.playListSongs::-webkit-scrollbar {
  width: 5px;
}

.playListSongs::-webkit-scrollbar-track {
  background: #0d394685;
}

.playListSongs::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

@media (width <= 700px) {
  .playList {
    width: 100%;
    height: 100%;
  }
  .playListSongs {
    height: 300px;
    padding: 5px 6px;
    scrollbar-color: var(--background-color) var(--secondary-color);
    scrollbar-width: thin;
  }
}
